body {
	background-color: #bbbbaa;
	font-family: gill sans, sans-serif;
	padding:1em;
}
ul {
	line-height: 2em;
}
div#symmetric_group{
	padding:1em;
	margin:2em;
	background-color: #ffffff;
	width:95%;
	margin: auto;
}
img {
	margin:0;
	padding:0;
	width:100%;
	display:block;
}
div.tuple{
	padding:0 0.25em;
	margin:0 0.25em;
	display:table-cell;
	page-break-inside: avoid;
	border: 1px solid #888888;
	line-height:0;
}
div.num{
	margin:1em;
}
em {
	font-style:italic;
	text-decoration:underline;
}